# Python files
*.pyc
__pycache__/

# Virtual environment
venv/

# Node.js
node_modules/
dist/

# Django static files
static/

# Environment variables
.env

# Database files
*.sqlite3

# Docker-related files
postgres_data/

frontend/package-lock.json
